*
{
margin: 0;
padding: 0;
text-decoration: none;
outline: none;
box-sizing: border-box;
}
body
{
background-image: url("https://mcdn.wallpapersafari.com/medium/6/44/N6F2Hl.jpg");
background-repeat: repeat;
}
#loading
   {
   background-color: white;
   position: fixed;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   }
   .gif
   {
   width: 20%;
   }
nav
{
width: 100%;
height: 65px;
background-color: #890620;
box-shadow: 1px 2px 10px 2px black;
position: sticky;
z-index: +1;
top: 0;
}
.inayat
{
font-size: 22px;
color: white;
}
ul
{
float: left;
margin-left: 10px;
}
ul li
{
list-style: none;
display: inline-block;
line-height: 65px;
font-size: 15px;
}
ul li a
{
font-family: arial;
padding-left: 22px;
padding-right: 22px;
color: white;
display: block;
}
ul li a:hover{
background-color: white;
opacity: 0.5;
color: red;
}
ul li:hover ul
{
position: absolute;
z-index: 1;
}
ul li:hover ul li
{
display: block;
background-color: #890620;
height: 50px;
box-shadow: 2px 3px 4px 1px black;
line-height: 50px;
margin-right: 20%;
margin-left: 20%;
font-size: 15px;
}
ul li ul li
{
display: none;
width: 200px;
}
ol li
{
list-style: none;
font-size: 20px;
}

.left
{
background-color: black;
height: 230px;
width: 100%;
float: left;
border: 10px solid black;
}
.pic
{
float: left;
height: 730px;
width: 48%;
}
.content
{
font-size: 20px;
width:95%;
}
.img
{
margin: 0;
padding: 0;
}
.main
{
width: 52%;
height: auto;
float: left;
}
.footer
{
background-image: url("https://i.pinimg.com/564x/30/82/81/308281cc77455c03fe27bd4855329672.jpg");
      background-repeat: repeat;
      background-size:50%;
height: 300px;
width: 100%;
border-top: white 2px solid;
color: white;
clear:both;
}
@media only screen and (max-width: 1000px)
{
nav
  {
width: 100%;
height: 50px;
background-color: #890620;
box-shadow: 1px 2px 10px 2px black;
}
.inayat
{
font-size: 22px;
color: white;
}
ul li
{
list-style: none;
display: inline-block;
line-height: 50px;
font-size: 15px;
}
ul li a
{
font-family: arial;
padding-left: 16px;
padding-right: 16px;
color: white;
display: block;
}
ul li:hover ul li
{
display: block;
background-color: #890620;
height: 40px;
line-height: 40px;
font-size: small;
box-shadow: 1px 2px 3px 1px black;
}
body
{
background-image: url("https://mcdn.wallpapersafari.com/medium/6/44/N6F2Hl.jpg");
background-repeat: repeat;
}
.pic
{
width: 100%;
height:400px;
}
.left
{
display: none;
}
.content
{
font-size: 18px;
width:45%;
}
.img
{
width: 100%;
}
.main
{
	width: 100%;
}
.footer
{
background-color: black;
height: 240px;
width: 100%;
border-top: white 2px solid;
color: white;
clear: both;
font-size: small;
}
}
@media only screen and (max-width: 768px)
{
nav
{
width: 100%;
height: 40px;
background-color: #890620;
box-shadow: 1px 2px 10px 2px black;
}
.inayat
{
font-size: 15px;
color: white;
margin-left: 10px;
}
ul
{
float: left;
margin-left: 10px;
}
ul li
{
list-style: none;
display: inline-block;
line-height: 40px;
font-size: 10px;
}
ul li a
{
font-family: arial;
padding-left: 7px;
padding-right: 7px;
color: white;
display: block;
}
ul li:hover ul li
{
display: block;
background-color: #890620;
height: 30px;
box-shadow: 1px 2px 3px 1px black;
line-height: 30px;
margin-left: -20%;
margin-right: 20%;
font-size: small;
}
body
{
background-image: url("https://mcdn.wallpapersafari.com/medium/6/44/N6F2Hl.jpg");
background-repeat: repeat;
}
.pic
{
width: 100%;
height:500px;
}
.left img
{
display: none;
}
.content
{
font-size: 20px;
width:400px;
}
.img
{
width: 100%;
}
.main
{
width: 100%;
}
.footer
{
background-color: black;
height: 230px;
width: 100%;
border-top: white 2px solid;
color: white;
clear: both;
font-size: smaller;
}
}